.wrapper {
    padding: 2%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

header {
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    position: sticky;
    top: 5px;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav a:hover {
    transform: scale(1.2);
    color: aqua;
}

.cont {
    background-color: black;
    border-radius: 15px;
    width: 50%;
}

.cont h2 {
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 6px;
    padding: 1%;
}

.cont p {
    color: white;
    padding: 10px;
}

.cont2 {
    background-color: black;
    border-radius: 15px;
    width: 50%;
}

.cont2 h2 {
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 6px;
    padding: 1%;
}

.cont2 p {
    color: white;
    padding: 10px;
}

h3 {
    text-align: center;
    padding-top: 500%;
}
